### Import Packages

In [1]:
import os
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt
from sklearn_extra.cluster import KMedoids
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import pickle
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation

### Snowflake Connect

In [4]:
# Establish connection with Snowflake
conn = snowflake.connector.connect(connection_name="fundingsociety.sg.ap-southeast-1.aws.privatelink")

# Get SQL query file as data input 
def get_sql_file_as_text(file_path):
  
  with open(file_path, 'r') as f:
    sql_content = f.read()
  return sql_content

In [9]:
# Import SQL Snowflake Query file here
sql_file = "EDA.sql"
my_query = get_sql_file_as_text(sql_file)

# Get data from query
df = conn.cursor().execute(my_query).fetch_pandas_all()

In [10]:
# Check data shape
df.shape

(7937, 8)

In [11]:
# Check data sample
df.head()

,PAYMENT_ID,USER_ID,PAYMENT_DATE,PAYEE_NAME,SCHEDULE_TYPE,GTV,NET_REVENUE,REVENUE
0,604030e48a7d0950d4ce95f1da2481b6,150588,2023-11-23,151898_Giftworks Creation,one off,1167.146820,10.738661,26.262699
1,c3e32f2b3a2459d7038bd78362bded30,93024,2024-07-17,153331_SIMFONI PESONA SDN BHD,one off,1202.259814,10.511147,41.498554
2,44550d669aa5c3d35b67e3ff08a1b474,16895,2024-07-15,223154_Dyna Cool Air Pte Ltd,one off,115.728788,0.955559,2.601243
3,db018d5d24cb868e48b45ebf933da480,48577,2024-06-27,50844_Aktiff TG Enterprise,one off,400.424640,5.028059,10.412557
4,20d2865de84267b6a0bbe7c0da70fa1d,201808,2024-10-11,207366_Drive Team Pte Ltd,one off,530.866000,2.881844,13.537083

### EDA

In [14]:
df['PAYEE_NAME_WITHOUT_NUMBERS'] = df['PAYEE_NAME'].str.split('_').str[1]
df['PAYEE_NAME_WITHOUT_NUMBERS'] = df['PAYEE_NAME_WITHOUT_NUMBERS'].str.lower()
df.head()

,PAYMENT_ID,USER_ID,PAYMENT_DATE,PAYEE_NAME,SCHEDULE_TYPE,GTV,NET_REVENUE,REVENUE,PAYEE_NAME_WITHOUT_NUMBERS
0,604030e48a7d0950d4ce95f1da2481b6,150588,2023-11-23,151898_Giftworks Creation,one off,1167.146820,10.738661,26.262699,giftworks creation
1,c3e32f2b3a2459d7038bd78362bded30,93024,2024-07-17,153331_SIMFONI PESONA SDN BHD,one off,1202.259814,10.511147,41.498554,simfoni pesona sdn bhd
2,44550d669aa5c3d35b67e3ff08a1b474,16895,2024-07-15,223154_Dyna Cool Air Pte Ltd,one off,115.728788,0.955559,2.601243,dyna cool air pte ltd
3,db018d5d24cb868e48b45ebf933da480,48577,2024-06-27,50844_Aktiff TG Enterprise,one off,400.424640,5.028059,10.412557,aktiff tg enterprise
4,20d2865de84267b6a0bbe7c0da70fa1d,201808,2024-10-11,207366_Drive Team Pte Ltd,one off,530.866000,2.881844,13.537083,drive team pte ltd

In [15]:
df.to_csv('all all.csv')